* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}



.ahorasi img {
    position: absolute;
    top: 16.8%;
    width: 95.1%;
    height: 67.5%;
    left: 2.2%;
    z-index: 60;
}

body {
    color: #ffffff;
    background-color: #242424;
    
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.p1 img {
    top: 10%;
}

#imgi1 {
    position: relative;
    width: 95%;
    top: 10%;
    display: none;
}



ul {
    list-style: none;
}

.none {
    display: none;
}

.mcm {
    position: absolute;
    visibility: hidden;
}



.container {
    width: 90%;
    margin: auto;
}

.version {
    position: absolute;
    top: 0%;
    right: 2%;
    z-index: 30;
    color: rgb(158, 255, 1);
}

.agregar {
    position: absolute;
    right: 20px;
    top: 1%;
    z-index: 30;
    font-size: 1.5rem;
}

/* navigation */
.menu-btn {
    z-index: 100;
    position: absolute;
    top: 2%;
    left: 1%;
    cursor: pointer;
}
.logoimg img {
    position: absolute;
    left: 6%;
    width: 7.2%;
    height: 11%;
    top: 4px;
    z-index: 30;
}

.border-decoration{
    background: rgb(14, 0, 216);
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 13.7%;
}


.nav-main {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 200px;
}


/* NAV LEFT */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 1px;
} 

.nav-main ul li a:hover {
    border-bottom: 2px solid blue;
}

.nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    background: #402f2f;
    height: 600px;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out;
    padding: 30px;
    opacity: .9;
    z-index: 86;
}

.nav-main ul.nav-menu.show {
    transform: translateX(-35px);
}

.nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f2f40;
    height: 100%;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out;
    padding: 30px;
    opacity: .9;
}


.hr1 {
    width: 100%;
}

/* SHOCASE */
hr {
    margin: 10px 0;
}

.img-1 img {
    position: relative;
    width: 95%;
    height: 349.5px;
    z-index: 10;
    bottom: 100px;
    left: 17.1px;
    
}

.difum img {
    position: absolute;
    position: absolute;
    top: 16.8%;
    width: 95.1%;
    height: 67.5%;
    left: 2.2%;
    z-index: 65;
}

.Imagenes {
    width: 95.1%;
    height: 350px;padding: 50px;
    margin-bottom: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 1.95% 2.2%;
    z-index: 70;
}
.Imagenes p {
    text-align: center;
    z-index: 80;
}

.Imagenes h2 {
    color: red;
    z-index: 80;
}
.Imagenes p {
    color: rgb(0, 153, 255);
    z-index: 80;
}


.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 3px 10px;
    background: rgb(0, 4, 255);
    color: white;
    font-size: 10px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}

.btn:hover {
    opacity: .9;
}

.Imagenes h2 {
    font-size: 250%;
}
.Imagenes p {
    margin-bottom: 10px;
    font-size: 100%;
}
.port header {
    position: relative;
    top: 16.8%;
    width: 95.1%;
    height: 67.5%;
    left: 2.2%;
    margin: 11% 0;

}

.slider1 {
    align-content: center;
}
#slider1-id iframe {
    width: 95%;
    height: 1000px;
    margin: 1% 1%;
}

/* PRODUCTOS */
.PRODUCTOS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 15px 10px;
    text-align: center;
}

.border {
    border: 1px solid #d1d1d1;
    z-index: 85;
    position: relative;
    top: 10px;
    background: #242424;
}

.PRODUCTOS img {
    width: 100%;
    height: 500px 0;
}

.ir a {
    background: blue;
}

.slidertamaño {
    margin: 3% 2%;
}
.slidertamaño a iframe {
    height: 50%;
}
#slidert {
    height: 500px;
}


.video {
    align-content: center;
    margin: 0px 10px;
    background: url('./img/cargando.gif') no-repeat center center/cover;
}
.center {
    text-align: center;
}
.center a {
    color: red;
}

.PRODUCTOS h3 {
    font-size: 20px;
    margin: 10px 0;
    z-index: 90;
}

.PRODUCTOS a {
    padding: 10px 0;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.PRODUCTOS a:hover {
    text-decoration: underline;
}

/* Baner General */
.Baner {
    width: 100%;
    height: 350px;
    background: url('./img/Baner2.jpeg');
    margin-bottom: 40px;

}

.Baner img {
    width: 100%;
    height: 400px;
}

.Baner .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;

}

/* Redes */
.Redes {
    margin: 50px 10px;
}

.Redes p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/* FOOTER LINKS */
.footerlinks {
    background: rgb(228, 228, 255);
    color: gainsboro;
    font-size: 12px;
    padding: 35px 0;
    
}

.footer-container ul li a {
    color: black;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;

}

.footer-container ul li {
    line-height: 2.3;
}

.Footer {
    background: rgb(228, 228, 255);
    color: #818181;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

.tms {
    border: 1px solid #d1d1d1;
}

.Reporte {
    margin: 10px 10px;
    gap: 10;
}

.Reporte h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.Reporte h3 {
    color: rgb(255, 0, 0);
}

.Reporte img {
    float: left;
    position: relative;
    height: 170px;
    width: 280px;
}

.invisible {
    visibility: hidden;
}

.btn-videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.creadores-container {
    background: rgb(228, 228, 255);
    position: relative;
    top: 5px;
    width: 100%;
    display: none;
}
.creadores-container h2 {
    text-align: center;
    display: none;
}
.h25 {
    color: rgb(255, 208, 0);
    position: relative;
    right: 10px;
}

.creadores-container h3 {
    position: relative;
    left: -105px;
    text-align: center;
    display: none;
}

.creadores {
    margin: 20px 20px;
    position: relative;
    top: 10px;
    left: 100px;
    align-content: center;
    margin: 3px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(255, 208, 0);
    z-index: 40;
}
.creadores i {
    size: 100px;
}

.creadores img {
    position: relative;
    right: 62px;
    height: 50px;
    width: 50px;
    background: #2f3640;
}

.creadores h3 {
    left: -108px;
}

.backgraund1 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 100px;
    height: 120px;
    left: 135px;
    top: 2933px;
}

.backgraund2 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 100px;
    height: 120px;
    left: 322px;
    top: 2933px;
}


.backgraund3 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 100px;
    height: 120px;
    left: 510px;
    top: 2933px;
}


.backgraund4 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 100px;
    height: 120px;
    left: 65px;
    top: 3132px;
}


.backgraund5 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 100px;
    height: 120px;
    left: 318px;
    top: 3132px;
}


.backgraund6 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 100px;
    height: 120px;
    left: 572px;
    top: 3132px;
}


.backgraund7 {
    position: absolute;
    z-index: 30;
    background: #2f3640;
    border-radius: 30%;
    width: 140px;
    height: 140px;
    left: 300px;
    bottom: -2940px;
}


.Admin img {
    position: relative;
    right: 0px;
    height: 50px;
    width: 50px;
    left: 70px;
    z-index: 40;
}
.Admin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    z-index: 40;

}

.Admin img {
    left: -23px;
}

.Admin li {
    position: relative;
    left: 40px;
    margin: 0 50px;
}
.Admin h3 {
    position: relative;
    left: -50px;
    color: red;
    z-index: 40;
}

.Admins h2 {
    color: red;
    position: relative;
    right: 10px;
}

.Web-diseñador img {
    margin: 0 70px;
    position: relative;
    left: 273px;
    width: 57px;
    height: 57px;
    z-index: 40;
}
.Web-diseñador h3 {
    color: rgb(183, 0, 255);
    margin: 0 100px;
    left: -10px;
    z-index: 40;
}


.youtubeap i {
    color: red;
    position: relative;
    left: 220px;
    margin: 10px 100px;
    font-size: 1.4rem;
    z-index: 40;
}
.twitterap i {
    color: blue;
    position: relative;
    left: 75px;
    margin: 10px 100px;
    font-size: 1.4rem;
    z-index: 40;
}
.facebookap i {
    color: rgba(0, 0, 255, 0.952);
    position: relative;
    left: -195px;
    margin: 10px 100px;
    font-size: 1.4rem;
    z-index: 40;
}

.h26 {
    color: rgb(183, 0, 255);
}

.youtube i {
    color: red;
    font-size: 1.5rem;
    position: relative;
    left: 12px;
    z-index: 40;
}
.twitter i {
    color: blue;
    font-size: 1.5rem;
    position: relative;
    left: -30px;
}


.talextext img {
    position: absolute;
    top: 2%;
    z-index: 50;
    left: 14.5%;
    width: 20%;
}

.t1 {
    color: #ffb224;
    position: relative;
    left: 120px;
    top: 10px;

}
.t2 {
    position: relative;
    left: 172px;
    bottom: 14px;
}
#slider-id {
    height: 10%;
}
.backgraunds {
    display: none;
}


/* 1.5.1 */
.streams {
    width: 99%;
    position: relative;
    right: -1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#streaming {
    background: #2f2f40;
    margin: 1% 2%;
    gap: 20px;
    width: 85%;
}
.livetext {
    text-align: center;
}
.livetext a {
    color: red;
}
.btnvideos {
    position: relative;
    left: 45%;
    background: rgb(14, 0, 216);
    border: 1px solid rgb(228, 228, 255);
    text-align: center;
}

.VF {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% 0;
}
.VF img {
    margin: 0% 5%;
    width: 90%;
}
.VF h3 {
    margin: 0 5%;
    text-align: center;
}

.VF1 {
    display: grid;
    grid-template-columns: 1fr;
    margin 5%
}
.VF1 img {
    margin: 0% 5%;
    width: 90%;
    heigth: 85%;
}
.VF1 h3 {
    margin: 0 5%;
    text-align: center;
}

@media (max-width: 200px) {

.nav-main img {
    width: 70px;
    position: absolute;
    left: 20px;
}

.menu-btn {
    font-size: 1rem;
}

#imgi1 {
    left: -1px;
}

#n1 {
    left: -2px;
}

.Imagenes {
    position: relative;
    left: 15px;
    margin: 5px 6px;
    height: 210px;
}
.Imagenes h2 {
    position: absolute;
    top: -2px;
}
.Imagenes p {
    position: absolute;
    top: 30px;
}

.mc {
    display: none;
}

.mcm {
    visibility: visible;
}

.mcm img {
    width: 171.5px;
    margin: 82.5px 5px;
    height: 210px;
    left: -1px;
}

.PRODUCTOS {
    display: block;
}

.PRODUCTOS p {
    display: none;
}

.slider1 img {
    width: 198px;
    height: 100px;
}
#slider1-id {
    width: 200px;
    height: 90px;
}

.Reporte img {
    width: 159px;
    height: 100px;
}

.p1 {
    display: none;
}

.video iframe {
    height: 100px;
    position: relative;
}

#iframe {
    width: 161px;
    height: 100px;
}
.Redes {
    margin: 30px 5px;
}

.Redes p {
    position: relative;
    left: -10px;
    margin: 0 0;
}

.links a {
    margin: 0 10px;
    position: relative;
    width: 200px;
    margin: 0 0;
}

.links {
    width: 200px;
    margin: 0 0;
    font-size: 1rem;
    margin: 0 0;
}
.links a i {
    font-size: 2rem;
    margin: 0 0;
}

.creadores {
    grid-template-columns: 1fr 1fr;
    left: -500;
    position: relative;
}
.creadores li {
    position: relative;
    left: -166px;
}

.creadores img {
    bottom: 15px;
    left: -35px;
    margin: 0 25px;
    width: 40px;
    height: 40px;
}

.pancho img {
    left: -150px;
}


.creadores h3 {
    size: 10px 10px;
    left: -35px;
    bottom: 20px;
}

.pancho {
    position: relative;
    left: 100px;
}
.pancho1 li {
    position: relative;
    left: -115px;
}
.pancho img {
    left: -40px;
}
.pancho h3 {
    left: -40px;
}
.twitter {
    position: relative;
    left: 28px;
    bottom: 20px;
}
.separacion {
    display: none;
}
.backgraund1 {
    left: 10px;
    top: 3090px;
    width: 70px;
    height: 120px;
}
.backgraund2 {
    left: 100px;
    top: 3090px;
    width: 70px;
}
.backgraund3 {
    left: 55px;
    top: 3220px;
    width: 70px;
    height: 93px;
}
.backgraund4 {
    left: 10px;
    top: 3500px;
    width: 70px;
}
.backgraund5 {
    left: 10px;
    top: 3500px;
    width: 70px;
}
.backgraund6 {
    left: 10px;
    top: 3500px;
    width: 70px;
}
.backgraund7 {
    left: 10px;
    top: 3500px;
    width: 70px;
}

.Admin img {
    width: 40px;
    height: 40px;
}
.Admin {
    grid-template-columns: 1fr 1fr;
}
.Admin li {
    margin: 0 10px;
    left: 15px;
}
.Admin h3 {
    left: -15px;
}
.laqui img {
    left: 23px;
    position: relative;
}
.laqui h3 {
    left: 40%;
}

}

@media (max-width: 300px) {
.nav-main img {
    width: 50px;
    height: 50px;
    left: 50px;
}
.Imagenes {
    position: relative;
    left: -10px;
}
.img-1 {
    left: -10px;
    width: 283px;
    top: 187px;
}
.PRODUCTOS {
    display: block;
}

.PRODUCTOS p {
    display: none;
}
#slider1-id {
    height: 50px;
    width: 300px;
}

.slider1 img {
    height: 200px;
}
.slider1 {
    height: 100px;
}

}

@media (max-width: 1000px) {
    .body {
        color: red;
    }

}


